@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #fcf9f4;
  --bg-secondary: #fcf9f4;
  --accent: #8cb67a;
  --accent-light: #f0fdf4;
  --text-primary: #2f3e46;
  --text-secondary: #6b705c;
  --border: #e5e5e5;
  --paper: #ffffff;
}

[data-theme='dark'] {
  --bg-primary: #1a1a1a;
  --bg-secondary: #111111;
  --text-primary: #eeeeee;
  --text-secondary: #aaaaaa;
  --accent: #8cb67a;
  --accent-light: #064e3b;
  --border: #333333;
  --paper: #1a1a1a;
}

body {
  margin: 0;
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  font-family: 'Inter', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--text-secondary);
}

.perspective-2000 {
  perspective: 2000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}
